<footer class="pt-5 pb-4 bg-dark text-white" >
  <div class="container text-md-start">
    <div class="row text-center text-md-start">
      
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-success">Apple Trading</h5>
        <p>
          Want to get some appliances? Be it school, hardware, office, and many more. We got the supply for you! So come to our store to get your item now!
        </p>
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-success">Quick Links</h5>
        <p><a href="#" class="text-light text-decoration-none">Home</a></p>
        <p><a href="#" class="text-light text-decoration-none">Items</a></p>
        <p><a href="#" class="text-light text-decoration-none">Services</a></p>
        <p><a href="#" class="text-light text-decoration-none">Contact</a></p>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-success">Resources</h5>
        <p><a href="#" class="text-light text-decoration-none">Privacy Policy</a></p>
        <p><a href="#" class="text-light text-decoration-none">Terms & Conditions</a></p>
        <p><a href="#" class="text-light text-decoration-none">Help</a></p>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-success">Contact</h5>
        <p><i class="fas fa-home me-2"></i> Gumamela, Balayan, Batangas</p>
        <p><i class="fas fa-envelope me-2"></i> jasperrosales31@gmail.com</p>
        <p><i class="fas fa-phone me-2"></i> +63 912 345 6789</p>
      </div>
    </div>

    <hr class="mb-4" />

    <div class="row align-items-center">
      <div class="col-md-7 col-lg-8">
        <p class="text-center text-md-start mb-0">
          © 2025 Apple Trading. All rights reserved.
        </p>
      </div>

      <div class="col-md-5 col-lg-4">
        <div class="text-center text-md-end">
          <a href="#" class="text-light me-4"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="text-light me-4"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-light me-4"><i class="fab fa-instagram"></i></a>
          <a href="#" class="text-light"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
